# **Welcome to the PySpark World !**



---





> ## **Why use Spark?**



*   Load the data to the disk
*   Import the data into the machine's memory
*   Process/analyze the data
*   Build the machine learning model
*   Store the prediction back to disk


> ## **How Does Spark work?**


*   Python
*   Java
*   Scala
*   SQL

<font color="blue"> Most importantly, Spark is like a biult-in library, including packages used in data analysis, machine learning. It is also designed to work with Hadoop clusters and can read types of files, such as CSV, JSON, and Hive data. </font>


> ## **Let's begin !**


In this totorial, you will learn:


**1.   Install PySpark on Colab**

**2.   Basic operation with PySpark**


  *   Load the dataset (CPDB)
  *   Data preprocessing
  *   Statistics
  *   Basic Visualization
  
**3.   Play with the code**

In [3]:
# innstall java
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null

# install spark (change the version number if needed)
# !wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

# unzip the spark file to the current folder
# !tar xf spark-3.0.0-bin-hadoop3.2.tgz

# set your spark folder to your system path environment. 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"


# install findspark using pip
!pip install -q findspark

http://apache.mirror.amaze.com.au/spark/spark-2.4.7/

In [ ]:
# !gdown --id 1ahn0b2myXJ2eSoJu3z9BatW2T2QLGzvI

Downloading...
From: https://drive.google.com/uc?id=1ahn0b2myXJ2eSoJu3z9BatW2T2QLGzvI
To: /content/cpdb.sql
1.54GB [00:25, 61.3MB/s]

In [4]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [5]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql.types import * 
import pyspark.sql.functions as F
from pyspark.sql.functions import col, asc,desc
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from pyspark.sql import SQLContext
from pyspark.mllib.stat import Statistics
import pandas as pd
from pyspark.sql.functions import udf
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler,StandardScaler
from pyspark.ml import Pipeline
from sklearn.metrics import confusion_matrix

In [ ]:
# with open("cpdb.sql") as fr:
#    query = fr.read()
# results = sqlContext.sql(query)

In [6]:
sc=spark.sparkContext
sqlContext=SQLContext(sc)

In [7]:
# import the datasets
df=spark.read \
 .option("header","True")\
 .option("inferSchema","True")\
 .option("sep",",")\
 .csv("cpdb_public_data_officer.csv")
print("There are",df.count(),"rows",len(df.columns),
      "columns" ,"in the data.")

There are 33839 rows 33 columns in the data.

In [8]:
df.show(5)

+-----+------+-----+--------------+---------+-------+----------+----------+---------+----+--------------+-----------+----------------+--------------------+---------------+------------------------------+----------------------------+------------------------------+--------------+----------------+---------------+-------------------------+-------------+--------------+----------------+-----------------------+------------+-----------------+---------+-----------------+---------------+--------------------+--------------------+
|   id|gender| race|appointed_date|     rank| active|birth_year|first_name|last_name|tags|middle_initial|suffix_name|resignation_date|complaint_percentile|middle_initial2|civilian_allegation_percentile|honorable_mention_percentile|internal_allegation_percentile|trr_percentile|allegation_count|sustained_count|civilian_compliment_count|current_badge|current_salary|discipline_count|honorable_mention_count|last_unit_id|major_award_count|trr_count|unsustained_count|has_unique_name|          created_at|          updated_at|
+-----+------+-----+--------------+---------+-------+----------+----------+---------+----+--------------+-----------+----------------+--------------------+---------------+------------------------------+----------------------------+------------------------------+--------------+----------------+---------------+-------------------------+-------------+--------------+----------------+-----------------------+------------+-----------------+---------+-----------------+---------------+--------------------+--------------------+
|32300|     M|White|    2000-02-28|Detective|Unknown|      1976|    Robert|     Rose|null|             J|       null|            null|             34.6987|           null|                       43.9207|                     74.8035|                           0.0|        67.911|               4|              0|                       13|          982|         97440|               0|                     18|         215|                0|        5|                1|           true|2019-01-09 04:41:...|2019-01-09 04:41:...|
|32218|     M|White|    1993-11-22|Detective|Unknown|      1964|    Joseph|     Nega|null|             M|       null|            null|              59.543|           null|                        47.638|                     84.2287|                           0.0|       49.1036|              12|              0|                        3|        20634|        100980|               0|                     50|         153|                0|        2|                8|           true|2019-01-09 04:41:...|2019-01-09 04:41:...|
|32312|     M|White|    1998-11-30|Detective|Unknown|      1973|   Randall|     Ryan|null|             M|       null|            null|             62.1757|           null|                       65.6966|                     62.9589|                           0.0|       63.0035|              10|              0|                        7|        21194|         97440|               0|                      8|         151|                0|        4|                2|          false|2019-01-09 04:41:...|2019-01-09 04:41:...|
|32358|     M|White|    1995-06-05|Detective|Unknown|      1968|     Kevin|    Stoll|null|             M|       null|            null|              85.526|           null|                       88.5838|                     86.4605|                           0.0|        67.911|              24|              0|                        6|        20701|        100980|               0|                     55|         151|                0|        5|               11|           true|2019-01-09 04:41:...|2019-01-09 04:41:...|
|32440|     M|White|    1994-05-02|Detective|Unknown|      1968|      Mark|   Zawila|null|             A|       null|            null|             92.1287|           null|                       85.1455|                     65.6694|                           0.0|           0.0|              34|              2|                        2|        20115|        100980|               2|                     13|         153|                0|        0|               18|           true|2019-01-09 04:41:...|2019-01-09 04:41:...|
+-----+------+-----+--------------+---------+-------+----------+----------+---------+----+--------------+-----------+----------------+--------------------+---------------+------------------------------+----------------------------+------------------------------+--------------+----------------+---------------+-------------------------+-------------+--------------+----------------+-----------------------+------------+-----------------+---------+-----------------+---------------+--------------------+--------------------+
only showing top 5 rows

In [9]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- race: string (nullable = true)
 |-- appointed_date: string (nullable = true)
 |-- rank: string (nullable = true)
 |-- active: string (nullable = true)
 |-- birth_year: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- middle_initial: string (nullable = true)
 |-- suffix_name: string (nullable = true)
 |-- resignation_date: string (nullable = true)
 |-- complaint_percentile: double (nullable = true)
 |-- middle_initial2: string (nullable = true)
 |-- civilian_allegation_percentile: double (nullable = true)
 |-- honorable_mention_percentile: double (nullable = true)
 |-- internal_allegation_percentile: double (nullable = true)
 |-- trr_percentile: double (nullable = true)
 |-- allegation_count: integer (nullable = true)
 |-- sustained_count: integer (nullable = true)
 |-- civilian_compliment_count: integer (nullable = true)
 |-- current_badge: integer (nullable = true)
 |-- current_salary: integer (nullable = true)
 |-- discipline_count: integer (nullable = true)
 |-- honorable_mention_count: integer (nullable = true)
 |-- last_unit_id: integer (nullable = true)
 |-- major_award_count: integer (nullable = true)
 |-- trr_count: integer (nullable = true)
 |-- unsustained_count: integer (nullable = true)
 |-- has_unique_name: boolean (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)

In [17]:
numeric_features = [t[0] for t in df.dtypes if t[1] == 'int' and t[0] != 'id']
df.select(numeric_features).describe().toPandas().transpose()       #toPandas here ###

                               0                    1  ...      3       4
summary                    count                 mean  ...    min     max
birth_year                 32897     1956.50983372344  ...   1915    1996
allegation_count           33839    7.381660214545347  ...      0     175
sustained_count            33839    0.649841898401253  ...      0      28
civilian_compliment_count  33839    1.926534472058867  ...      0      69
current_badge              15364    11023.83135902109  ...      1   60090
current_salary             19810    86467.81539626452  ...  36984  260004
discipline_count           33839   0.5598569697686102  ...      0      28
honorable_mention_count    33839   12.061172020449776  ...      0     337
last_unit_id               29918    60.92452704057758  ...      2     258
major_award_count          33839  0.10742043204586424  ...      0       5
trr_count                  33839    1.972044091137445  ...      0      72
unsustained_count          33839   3.3737994621590475  ...      0     112

[13 rows x 5 columns]

In [18]:
df.groupby('race').count().show()

+--------------------+-----+
|                race|count|
+--------------------+-----+
|       Asian/Pacific|  544|
|             Unknown|  185|
|               White|20722|
|Native American/A...|   67|
|            Hispanic| 4599|
|               Black| 7722|
+--------------------+-----+